h1 {
    color: #FF0000;
    /* border-color: purple;
    border-width: 3px;
    border-style: solid; */
    border: 3px purple dashed;
}

h4 {
    color: rgb(0, 0, 0);
    background: rgb(255, 100, 80);
}

li {
    color: rgba(11, 99, 150, .5);
}

body {
    background: pink;
    /* background: url(https://autodesk.i.lithium.com/t5/image/serverpage/image-id/359183iE99B918926F5676E/image-size/large?v=1.0&px=999);
    background-repeat: no-repeat;   
    background-size: cover; */
}